<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактировать информацию о книге</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logout">
            <span>Пользователь:</span>
            <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
            <form name="logout-form" th:action="@{/logout}" method="post">
                <input type="submit" class="exit-button" value="Выйти"/>
            </form>
        </div>
        <h1 class="main-title">Добавить информацию о книге</h1>

        <div class="page-div">
            <form action="#" th:action="@{/}" th:method="get">
                <button type="submit" class="page-button">
                    Назад
                </button>
            </form>
        </div>

        <form id="edit-form" th:action="@{/book/create}" th:method="post" action="bookEdit.html">
            <div class="book-info">
                <div class="row">
                    <label class="book-label" for="title-input"><b>Название:</b></label>
                    <input class="book-edit-input" id="title-input" name="title" type="text" th:value="${book.title}" value="John Doe"/>
                </div>

                <div class="row">
                    <label class="book-label" for="author-input"><b>Автор(ы):</b></label>
                    <input class="book-edit-input" id="author-input" name="authors" type="text" th:value="${book.authors}" value="John Doe"/>
                </div>

                <div class="row">
                    <label class="book-label" for="genre-input"><b>Жанр(ы):</b></label>
                    <input class="book-edit-input" id="genre-input" name="genres" type="text" th:value="${book.genres}" value="John Doe"/>
                </div>
            </div>
            <div>
                <button class="edit-button" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</body>
</html>
