<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Вход в систему</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form class="form-signin" action="#" th:action="@{/login}" method="post">
            <h2 class="form-signin-heading">Пожалуйста, войдите в систему</h2>
            <p>
                <label for="username" class="sr-only">Пользователь</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            </p>
            <p>
                <label for="password" class="sr-only">Пароль</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </p>
            <div th:if="${param.error}" class="alert alert-danger">
                Неверные логин или пароль
            </div>

            <button class="enter-button" type="submit">Войти</button>
        </form>
    </div>
</body>
</html>