<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список книг</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="main-title" id="title">Список книг</h1>
        <div id="content">
            <div class="book-add">
                <form action="#" th:action="@{/book/create}" th:method="get">
                    <button type="submit" class="book-add-button">
                        Добавить книгу
                    </button>
                </form>
            </div>

            <table class="books">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Автор(ы)</th>
                    <th>Жанр(ы)</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>